<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <header>
      <h1 class="home">The Tech Blog</h1>
    </header>
    <nav class="nav-bar">
      <!-- Conditionally render login or logout links -->
      {{#if loggedIn}}
      <a href="/">Dashboard</a>
      <a href="/posts">My Posts</a>
      <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main>
      <div>
        {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}

    <footer>
        <h3>Made with 💛 by <a href="https://github.com/TheKelsenator">Kelsey O'Kelley</a></h3>
    </footer>

  </body>
</html>