<section class="container library">
  <h3 class="library-name">{{library.name}}</h3>
  {{#if logged_in}}
  <section class="flex-row justify-center">
    {{#each libraries as |blog|}}
    {{> library-details}}
    {{/each}}
  </section>
</section>
{{else}}
<a class="login-message" href="/login">You must login first to view this page</a>
{{/if}}