<section class="card post-card">
  <div class="post-header">  
    <h2>Create a New Blog!</h2>   
  </div>
  <form class="form post-form">
    <div class="input-blog-details">
      <h4>Blog title: </h4> 
      <textarea id="new-blog-title" cols="30" rows="1"></textarea>
    </div>
    <div class="post-text-box">
      <h4>Blog content: </h4>
      <textarea id="new-blog-content" cols="80" rows="8"></textarea>
    </div>
    {{!-- <div class="input-blog-details">
      <h4>By: </h4>
      <textarea id="insert-username" cols="30" rows="1"></textarea>
    </div>
    <div class="input-blog-details"> 
      <h4>Published: </h4>
      <textarea id="insert-date-published" cols="30" rows="1"></textarea>
    </div>
    <div class="input-blog-details">
      <h4>Category: </h4>
      <textarea id="select-library" cols="30" rows="1"></textarea>
    </div> --}}
  </form>
  <div class="post-it-button">
  <button id="post-button"><h1>Post It!</h1></button>
  </div>
</section>
{{!-- <section class="card my-posts">
  <div>
    {{#if blog}}
    {{#each blog as |post|}}
    {{/each}}
  </div>
</section> --}}
